body{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
}

#container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: -200px;
    margin-top: 75px;
}

button{
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1.25rem;
}

.add-btn{
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 1.5rem;
}

th, td{
    padding: 0.20rem 0.5rem;
}

table{
    margin-bottom: 2rem;
}