body{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
}

#container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
}

button{
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1.25rem;
    transition: all 0.3s ease;
}

.add-btn{
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.add-btn:active, button:active{
    background-color: black;
    color: white;
    transform:  scale(0.95);
}

th, td{
    padding: 0.20rem 0.5rem;
}

table{
    margin-bottom: 2rem;
}

dialog{
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.dialog-h1{
    text-align: center;
}

input[type='text'], input[type='number']{
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
}

.input-container{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

label{
    font-size: 1.5rem;
    margin-left: 5px;
}

input[type='checkbox']{
    width: 25px;
    height: 25px;
}

#confirm-btn{
    padding: 5px 30px;
    background-color: black;
    color: white;
    font-size: 2rem;
    border-radius: 10px;
    margin: 0 auto;
    display: block;

}